[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lightgbm = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
tqdm = "*"
networkx = "*"
imageio = "*"
pyvis = "*"
playwright = "*"
loguru = "*"
cd = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
